.header{
	width: 100%;
	height: 5.0rem;
	background-color: #fff;
}

.body-left {
	margin-right: .2rem;
}

.body-right {
	margin-left: .2rem;
}

.body-left, .body-right {
	background-color: #fff;
	margin-bottom: .4rem;
	border-radius: .5rem;
}

.top-image img {
	width: 100%;
	height: auto;
}

.bottom-state {
	height: 3rem;
	line-height: 3rem;
}

.state-ico {
	background:url(../images/ico1.png) no-repeat -2.1rem -1.8rem;
	height: 100%;
	width: 2rem;
	display: inline-block;
	float: left;
}

.state-ico-active {
	background:url(../images/ico1.png) no-repeat -5.8rem -1.8rem;
}

.bottom-l {
	float: left;
	display: inline-block;
	height: 100%;
	position: relative;
}

.bottom-r {
	float: right;
	display: inline-block;
	height: 100%;
	position: relative;
}

.bottom-l img {
	height: 3.1rem;
	width: 3.1rem;
	border-radius: 50%;
	position: absolute;
	left: .5rem;
	top: -.9rem;
}

.count {
	display: inline-block;
	font-size: 1rem;
	float: right;
	padding-right: .3rem;
}